<script props>
  let menuItems = props.menu || [
    { label: "Courses", href: "https://rfortherestofus.com/courses" },
    { label: "Training", href: "https://rfortherestofus.com/training" },
    { label: "Consulting", href: "https://claritydatastudio.com" }
  ];

  let socialMenuItems = props['social-menu'] || [
    {
      src: "https://emailtemplates.rfortherestofus.com/images/youtube.svg",
      width: "20",
      alt: "YouTube",
      href: "https://youtube.com",
    },
    {
      src: "https://emailtemplates.rfortherestofus.com/images/linkedin.svg",
      width: "20",
      alt: "LinkedIn",
      href: "https://linkedin.com",
    },
    {
      src: "https://emailtemplates.rfortherestofus.com/images/bluesky.svg",
      width: "20",
      alt: "Bluesky",
      href: "https://bsky.app/profile/rfortherestofus.com",
    },
  ];

  module.exports = {
    menuItems,
    socialMenuItems,
    containerClasses: props['container-class'] || '',
    logoHref: props['logo-href'] || 'https://rfortherestofus.com',
    logoSrc: props['logo-src'] || 'https://emailtemplates.rfortherestofus.com/images/rru-logo-text-right.png',
    logoAlt: props['logo-alt'] || 'R for the Rest of Us',
    logoWidth: props['logo-width'] || 200,
  };
</script>

<x-divider />

<table class="w-full" style="background-color: theme(colors.slate.100)">
  <tr>
    <td>&zwj;</td>
    <td style="background-color: theme(colors.white)" class="w-[600px] pt-6 pb-6 max-w-full {{ containerClasses }}">
      <div class="text-center">
        <if condition="logoHref">
          <a href="{{{ logoHref }}}">
            <img src="{{{ logoSrc }}}" width="{{ logoWidth }}" alt="{{{ logoAlt }}}" class="max-w-full align-middle">
          </a>
        </if>
        <else>
          <img src="{{{ logoSrc }}}" width="{{ logoWidth }}" alt="{{{ logoAlt }}}" class="max-w-full align-middle">
        </else>
      </div>

      <x-spacer height="32px" />

      <table align="center" class="m-0 mx-auto">
        <tr>
          <each loop="item, index in menuItems">
            <td class="{{ loop.last ? '' : 'pr-6' }}">
              <a href="{{{ item.href }}}" class="text-sm/5 text-gray-500 hover:text-gray-950 no-underline">
                {{{ item.label }}}
              </a>
            </td>
          </each>
        </tr>
      </table>

      <x-spacer height="36px" />

      <table align="center" class="m-0 mx-auto">
        <tr>
          <each loop="item in socialMenuItems">
            <td class="{{ loop.last ? '' : 'pr-6' }}">
              <a href="{{{ item.href }}}">
                <img src="{{{ item.src }}}" width="{{ item.width }}" alt="{{{ item.alt }}}" class="max-w-full align-middle">
              </a>
            </td>
          </each>
        </tr>
      </table>

      <x-spacer height="32px" />

      <table class="w-full">
        <tr>
          <td class="p-0 px-6">
            <slot:copyright>
              <p class="m-0 text-center text-base/6 text-gray-400">
                &copy; {{ new Date().getFullYear() }} R for the Rest of Us
                <br>
                3519 NE 15th Ave, Suite #167 Portland, OR 97212
              </p>
            </slot:copyright>

            <slot:unsubscribe>
              <x-spacer height="24px" />

              <p class="m-0 text-center text-base/6 text-gray-400">
                
                No longer want to receive emails?
                <a href="{{ unsubscribeUrl }}" class="underline hover:no-underline text-gray-400">Unsubscribe</a>
              </p>
            </slot:unsubscribe>
          </td>
        </tr>
      </table>
    </td>
    <td>&zwj;</td>
  </tr>
</table>
