<script props>
  module.exports = {
    containerClasses: props["container-class"] || "",
    padding: props.padding,
  };
</script>

<table class="w-full" style="background-color: theme(colors.slate.100)">
  <tr>
    <td>&zwj;</td>
    <td style="background-color: theme(colors.white)" class="w-[600px] max-w-full {{ containerClasses }}">
      <!-- <x-spacer height="44px" /> -->

      <table class="w-full">
        <tr>
          <td class="space-y-4 p-0">
            <span class="m-0 text-left text-base/6 text-gray-600">
              <slot:text>
                Nulla ipsum tempor magna eu cillum minim mollit non laborum veniam. Nulla occaecat cupidatat est esse
                sit dolore mollit. Labore ullamco veniam elit culpa. Magna anim reprehenderit et veniam aliqua
                incididunt dolore nulla dolore enim magna.
              </slot:text>
            </span>
          </td>
        </tr>
      </table>
    </td>
    <td>&zwj;</td>
  </tr>
</table>
